BR2_JLEVEL=16

# Architecture
BR2_arm=y
BR2_cortex_a7=y
BR2_ARM_EABIHF=y

BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_INSTALL_LIBSTDCPP=y

# Linux headers same as kernel, a 3.4 series
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_3_4=y

# System configuration
BR2_TARGET_GENERIC_HOSTNAME="redquarkone"
BR2_TARGET_GENERIC_ISSUE="RedQuark One - Dev"
BR2_TARGET_GENERIC_GETTY=y
BR2_TARGET_GENERIC_GETTY_PORT="ttyS0"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/redquark/redquarkone/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/redquark/redquarkone/post-image.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="board/redquark/redquarkone/boot-mali.cmd $(TARGET_DIR)/boot"

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="git@github.com:zxchris/linux-sunxi.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="add-mali-r3p2"
##BR2_LINUX_KERNEL_CUSTOM_REPO_URL="git@github.com:mireq/linux-sunxi.git"
##BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="sunxi-3.4"
#BR2_LINUX_KERNEL_CUSTOM_REPO_URL="git@github.com:dan-and/linux-sunxi.git"
#BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="dan-3.4.105"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/redquark/redquarkone/linux_3.4.r3p2.config"
#BR2_LINUX_KERNEL_USE_DEFCONFIG=n
#BR2_LINUX_KERNEL_DEFCONFIG="sun7i"
BR2_LINUX_KERNEL_INSTALL_TARGET=y

BR2_ROOTFS_OVERLAY="board/redquark/redquarkone/rootfs-overlay"

# Device management
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y
BR2_ROOTFS_DEVICE_TABLE="system/device_table.txt"

BR2_SHARED_STATIC_LIBS=y

# sunxi packages
BR2_PACKAGE_SUNXI_TOOLS=y
BR2_PACKAGE_SUNXI_BOARDS=y
BR2_PACKAGE_SUNXI_BOARDS_FEX_FILE="a20/redquarkone.fex"
BR2_PACKAGE_ZXCHRIS_MALI=y
BR2_PACKAGE_ZXCHRIS_MALI_R3P2=y
BR2_PACKAGE_ZXCHRIS_MALI_DBG=y
BR2_PACKAGE_A10DISP=y

# Filesystem
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
# BR2_TARGET_ROOTFS_TAR is not set

# Bootloaders
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="git@github.com:zxchris/u-boot.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="redquarkone"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="A20-Redquarkone"
BR2_TARGET_UBOOT_NEEDS_DTC=y

## Bootloaders
#BR2_TARGET_UBOOT=y
## UBoot >= 2015.04
#BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
#BR2_TARGET_UBOOT_CUSTOM_VERSION=y
#BR2_TARGET_UBOOT_BOARD_DEFCONFIG="A20-OLinuXino-Lime"
#BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2017.03"
#BR2_TARGET_UBOOT_NEEDS_DTC=y

## UBoot <  2015.04
#BR2_TARGET_UBOOT_BUILD_SYSTEM_LEGACY=y
#BR2_TARGET_UBOOT_CUSTOM_GIT=y
#BR2_TARGET_UBOOT_CUSTOM_REPO_URL="https://github.com/zxchris/u-boot-sunxi.git"
#BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="v2014-redquark-0.1"
#BR2_TARGET_UBOOT_BOARDNAME="sun7i"
## Perhaps supplu our own UBOOT xxxx_config
##BR2_TARGET_UBOOT_USE_CUSTOM_CONFIG=

BR2_TARGET_UBOOT_FORMAT_BIN=y
BR2_TARGET_UBOOT_SPL=y
BR2_TARGET_UBOOT_SPL_NAME="u-boot-sunxi-with-spl.bin"

# Additional tools
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_UBOOT_TOOLS=y

BR2_PACKAGE_ALSA_LIB=y
BR2_PACKAGE_LIBEVDEV=y
BR2_PACKAGE_ZLIB=y
BR2_PACKAGE_LIBUMP=y
BR2_PACKAGE_LIBPNG=y
BR2_PACKAGE_JPEG=y
BR2_PACKAGE_LIBJPEG=y

BR2_PACKAGE_REDQUARK=y
